:host {
    display: block;
    vertical-align: middle;
    color: white;
}

.day {
    font-size: 31px;
    line-height: 0.91;
    display: inline-block;
    margin-right: 8px;
    margin-left: 15px;
    vertical-align: top;
}

.month {
    line-height: 1;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

.time {
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
}