:host {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-layout {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-panel {
    display: block;
    position: relative;
    height: 68px;
    user-select: none;
    background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
}

.top-panel-layout {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.user-photo-wrapper {
    width: 88px;
    min-width: 88px;
    height: 100%;
    background: linear-gradient(to top right, rgb(86, 181, 184),  rgb(152, 207, 195));
}

.user-photo {
    position: relative;
    top: 51%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #d4d4d3;
    -webkit-mask-image: url("../images/user_icon.svg");
    mask-image: url("../images/user_icon.svg");

}

.info {
    display: block;
    position: relative;
    flex-grow: 1;
}

.info-layout {
    display: flex;
    width: 100%;
    height: 100%;
}

.info-layout-left {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: center;
    padding: 0 10px;
}

.info-layout-right {
    display: flex;
    position: relative;
    align-self: center;
    padding: 0 10px;
}
.top-panel-user {
    align-self: center;
    margin-left: 10px;
}
.top-panel-user-label {
    display: block;
    margin: 0;
    font-size: 12px;
    color: white;
}

.top-panel-user-fio {
    display: block;
    margin: 0;
    font-size: 17px;
    color: white;
}

.top-panel-logout {
    color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    text-decoration: none;
    background-color: white;
    -webkit-mask-image: url("../images/logout.svg");
    mask-image: url("../images/logout.svg");
}

#about {
    color: white;
    margin-left: 10px;
}

#appProcessLog {
    color: white;
    margin-right: 10px;
}

.info-layout-right-content {
    display: flex;
    align-items: center;
}

#logout {
    color: white;
}