<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <link th:href="@{/styles/logged-out.css}" rel="stylesheet">
        <title>Выход из системы</title>
    </head>
    <body class="body notranslate">
        <div class="container">
            <div class="content">
                <div class="logo-container">
                    <!--<img th:src="@{/images/logo-2.svg}" alt=""/>-->
                </div>
                <h1 class="header">Вы вышли из системы</h1>
                <button class="btn"><a th:href="@{/}"/>Войти в приложение</button>
            </div>
        </div>
    </body>
</html>