body, html {
    height: 100%;
}

.body {
    display: block;
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
}

.container {
    margin: -8px;
#    background-image: url(../images/logout.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 40px;
    box-shadow: 0px 4px 20px rgba (0, 0, 0, 0.1);
    border-radius: 20px;
}

.header {
    font-size: 36px;
    color: #1C1C1E;
    text-align: center;
}

.btn {
    background: royalblue;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn a:active, a:hover, a {
     text-decoration: none;
    color: #F0F0F0;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-container img {
    width: 250px;
}